{% extends 'includes/base.html' %}
{% load static %}

{% block title %}Вход{% endblock %}

{% block head_extra %}
<style>
    html, body {height: 100%;}
    body {
        display: flex; align-items: center;
        padding-top: 40px; padding-bottom: 40px;
        background-color: #f5f5f5;
    }
    .form-signin {
        width: 100%;
        max-width: 330px;
        padding: 15px;
        margin: auto;
    }
    #id_username {
        margin-bottom: -1px;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
    }
    #id_password {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }
    .form-signin .form-floating:focus-within {z-index: 2;}
</style>
{% endblock %}

{% block content %}
<main class="form-signin">
    <form method='post'>
        {% csrf_token %}
        <h1 class="h2 mb-3">Вход в аккаунт</h1>
        <section id="fields">
            {% for field in form %}
            {{ field.errors }}
            <div class="form-floating">
                {{ field }}
                <label for="{{ field.id_for_label }}">{{ field.label}}</label>
            </div>
            {% endfor %}
        </section>
        <p class="text-muted mb-0"><small>Еще нет аккауна? <a href="{% url 'signup' %}">Зарегистрироваться</a></small></p>
        <p class="text-muted mb-3"><small>Забыли пароль? <a href="{% url 'password_reset' %}">Сменить</a></small></p>
        <button class="w-100 btn btn-primary text-white" type="submit">Войти</button>
    </form>
</main>
{% endblock %}