{% extends 'includes/base.html' %}
{% load static %}

{% block title %}Регистрация{% endblock %}

{% block head_extra %}
<link href="https://fonts.googleapis.com/css2?family=Rubik+Puddles&display=swap" rel="stylesheet">
<style>
    html, body {height: 100%;}
    body {
        display: flex; align-items: center;
        padding-top: 40px; padding-bottom: 40px;
        background-color: #f5f5f5;
    }
    .form-signin {
        width: 100%;
        max-width: 330px;
        padding: 15px;
        margin: auto;
    }
    #id_username, #id_password1 {
        margin-bottom: -1px;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
    }
    #id_email, #id_password2 {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }
    .form-signin .form-floating:focus-within {z-index: 2;}
</style>
{% endblock %}

{% block content %}
<main class="form-signin">
    <form method="post">
        {% csrf_token %}
        <h1 class="h2 mb-3">Создай <span style="font-family: 'Rubik Puddles', Arial, Helvetica, sans-serif, cursive; color: var(--bs-red);">свой</span> мир</h1>
        <section id="fields">
            {% for field in form %}
            {{ field.errors }}
            <div class="form-floating {% cycle '' 'mb-1' %}">
                {{ field }}
                <label for="{{ field.id_for_label }}">{{ field.label}}</label>
            </div>
            {% endfor %}
        </section>
        <p class="text-muted"><small>Уже есть аккаунт? <a href="{% url 'login' %}">Войти</a></small></p>
        <button class="w-100 btn btn-primary text-white" type="submit">Продолжить</button>
    </form>
</main>
{% endblock %}
