{% extends 'includes/base_with_sidebar.html' %}

{% block custom_sidebar %}
{% include 'users/includes/sidebar.html' %}
{% endblock %}

{% block custom_header %}
{% include 'users/includes/header.html' with username=request.user.username %}
{% endblock %}

{% block col2 %}
<div class="container">
  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-2 row-cols-lg-3 row-cols-xl-4">
    {% for article in articles %}
    <div class="col mb-3">
      <div class="card">
        <div class="card-body">
          <h2 class="card-title h3 mt-0"><a href="{% url 'second_article' pk=article.id %}" class="text-decoration-none">{{ article.name }}</a></h2>
          <article>{{ article.text|truncatewords:5 }}</article>
          <article class="text-muted"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-fill" viewBox="0 0 16 16">
            <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
          </svg>&nbsp;{{ article.author }}</article>
        </div>
        <img src="{{ article.get_image_400x300.url }}" class="card-img-bottom">
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}