{% extends 'includes/base_with_sidebar.html' %}

{% block col2 %}

<div class="container mt-3">
  <div class="card mb-3">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="https://ingyen-hatterkep.hu/hatterkepek_tablet/ferfi-visszanez-hatterkep-39124.jpg" class="img-fluid rounded-start">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h2 class="card-title h3"><a href="#" class="text-decoration-none">Видеоигры</a></h2>
          <ul class="card-text list-unstyled w-100">
            <li><a href="#" class="text-decoration-none">Terraria</a></li>
            <li><a href="#" class="text-decoration-none">Minecraft</a></li>
            <li><a href="#" class="text-decoration-none">Genshin Impact</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="card mb-3">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="https://www.themoviescene.co.uk/reviews/_img/9713-2.jpg" class="img-fluid rounded-start">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h2 class="card-title h3"><a href="#" class="text-decoration-none">Кино</a></h2>
          <ul class="card-text list-unstyled w-100">
            <li><a href="#" class="text-decoration-none">Star Wars</a></li>
            <li><a href="#" class="text-decoration-none">Harry Potter</a></li>
            <li><a href="#" class="text-decoration-none">Marvel</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="card mb-3">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="https://besthqwallpapers.com/Uploads/15-12-2016/10892/thumb-mei-misaki-izumi-akazawa-4k-manga-another.jpg" class="img-fluid rounded-start">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h2 class="card-title h3"><a href="#" class="text-decoration-none">Аниме</a></h2>
          <ul class="card-text list-unstyled w-100">
            <li><a href="#" class="text-decoration-none">One Piece</a></li>
            <li><a href="#" class="text-decoration-none">Naruto</a></li>
            <li><a href="#" class="text-decoration-none">My Hero Academia</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="card mb-3">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="https://www.personastars.com/sites/default/files/mpreview/14/02/02/712586_Z_000000_CPF.JPG" class="img-fluid rounded-start">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h2 class="card-title h3"><a href="#" class="text-decoration-none">ТВ</a></h2>
          <ul class="card-text list-unstyled w-100">
            <li><a href="#" class="text-decoration-none">Memory Alpha</a></li>
            <li><a href="#" class="text-decoration-none">Arrowverse</a></li>
            <li><a href="#" class="text-decoration-none">SpongeBobia</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="card mb-3">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="https://besthqwallpapers.com/Uploads/24-8-2016/974/thumb-leather-roots-old-books-guilding.jpg" class="img-fluid rounded-start">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h2 class="card-title h3"><a href="#" class="text-decoration-none">Книги</a></h2>
          <ul class="card-text list-unstyled w-100">
            <li><a href="#" class="text-decoration-none">Midnight Sun</a></li>
            <li><a href="#" class="text-decoration-none">The Ballad of Songbirds</a></li>
            <li><a href="#" class="text-decoration-none">Shadowhunters</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="card mb-3">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="https://1.bp.blogspot.com/-lnoZOXVBtUQ/XV09qaccJYI/AAAAAAAAAOU/fagWJtJfdLIyXAevmatOTRIOeUZnY45KwCLcBGAs/s400/bts-copy.jpg" class="img-fluid rounded-start">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h2 class="card-title h3"><a href="#" class="text-decoration-none">Музыка</a></h2>
          <ul class="card-text list-unstyled w-100">
            <li><a href="#" class="text-decoration-none">Blackpink</a></li>
            <li><a href="#" class="text-decoration-none">Lady Gaga</a></li>
            <li><a href="#" class="text-decoration-none">BTS</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="card mb-3">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="https://1.bp.blogspot.com/-8rHxmJhm7u8/XuXhuQM9exI/AAAAAAAAAX4/Io6qCZNmKZEsSy7LoklsQxqcXSjwL-YoACK4BGAsYHg/w400-h250/123.jpg" class="img-fluid rounded-start">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h2 class="card-title h3"><a href="#" class="text-decoration-none">Увлечения</a></h2>
          <ul class="card-text list-unstyled w-100">
            <li><a href="#" class="text-decoration-none">Cosplay</a></li>
            <li><a href="#" class="text-decoration-none">Lego</a></li>
            <li><a href="#" class="text-decoration-none">Recipes</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
